@model Compte

    <h1 class="row">Création compte</h1>

    <form class="row" asp-controller="Banque" asp-action="SubmitForm" method="post">
        <div class="col">
            <input type="hidden" name="id" asp-for="@Model.Id" />
            @*<input type="hidden" name="id" value="@Model.Id" />*@
            <div class="row m-1">
                <input type="text" name="client" required asp-for="@Model.Client" placeholder="Info Client" class="col form-control p-1" />
            </div>
            <div class="row m-1">
                <input type="text" name="solde" required asp-for="@Model.Solde" placeholder="Solde Client" class="col form-control p-1" />
            </div>
            

            <div class="row m-1">
                <button type="submit" class="col btn btn-dark">Valider</button>
            </div>
        </div>
    </form>