@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Politique de confidentialité 
    1. Pour commencer
    Soucieuse de la protection de votre vie privée, le traitement confidentiel de vos données à caractère personnel est essentiel pour TopVintage.

    Il va de soi que nous respectons tout loi ainsi que tout règlement pertinents, comme le règlement no 2016/679, dit règlement général sur la protection des données (RGPD) ainsi que la loi sur les télécommunications Néerlandaise (Telecommunicatiewet) et toutes autres règlements et lois applicables. De plus, nous veillons à un traitement confidentiel de vos données personnelles et tenons à faire preuve de transparence quant aux données que nous traitons et leur usage, en appliquant des mesures organisationnelles et techniques, en nous conformant à une politique de confidentialité interne, ainsi qu’en vous informant correctement.

    Cette politique de confidentialité a pour objet de vous expliquer sa mise en œuvre, ainsi que vos droits en tant que personne concernée.

    Comme TopVintage continuera à développer et optimaliser ses services, il est possible que cette politique de confidentialité soit ajustée de temps en temps. Pour cette raison, TopVintage vous conseille de la consulter régulièrement.Si vous visitez notre site web, nous collectons différentes données à des fins diverses. Ci-après sont présentées les données que nous rassemblons, à quelles fins et la manière dont nous les obtenons, vos droits et la façon de les exercer. TopVintage.nl respecte votre vie privée et veille à un traitement confidentiel de vos données personnelles. Il est tout à fait exclu de fournir vos données confidentielles à des tiers, par exemple à des fins commerciales.



    2. Qu’est-ce que le RGPD ?
    Le règlement no 2016/679, dit règlement général sur la protection des données (RGPD), est un règlement de l'Union européenne qui stipule les exigences que doivent remplir les entreprises européennes pour pouvoir traiter vos données à caractère personnel. Les données à caractère personnel sont toutes les données ou informations qui permettent de vous identifier. Traiter et traitement sont les termes utilisés pour tous les actes relatifs à ces données, comme par exemple leur collecte et leur conservation.



    3. Quelles données à caractère personnel sont traitées par TopVintage ?
    Nous traitons les données à caractère personnel en collectionnant les données que vous nous fournissez activement dans des formulaires (comme par exemple votre adresse dans le formulaire de commande) ainsi qu’en suivant votre comportement sur notre site web à l’aide, entre autres, de cookies et traceurs.

    Si vous créez un compte ou passez une commande, nous traitons les données à caractère personnel suivants : Nom et prénom, adresse, date de naissance, titre, sexe, adresse e-mail, numéro de téléphone et informations de connexion.

    Si vous vous abonnez également à notre newsletter, non seulement votre adresse e-mail sera conservée dans notre système de messagerie, mais aussi votre prénom, pour que nous puissions vous adresser personnellement dans la newsletter !

    Vous donnez un avis sur notre site web ? Nous traitons alors votre adresse e-mail ainsi que votre nom et prénom pour pouvoir vous contacter et vous adresser correctement en cas de besoin.

    Des tiers peuvent également traiter des données à caractère personnel collectionnées en suivant votre comportement sur notre site web, pour pouvoir vous montrer des annonces appropriées sur d’autres sites web. De cette façon, nous intentons d’améliorer la pertinence de nos annonces pour vous ! Afin d’atteindre ce but, des cookies sont placés et accédés sur votre ordinateur.

    Enfin, il y a également des cookies fonctionnels qui vous permettent d’utiliser des services et des fonctionnalités utiles tels que votre panier et les derniers articles consultées. Pour des informations actualisées concernant les différents cookies, veuillez consulter notre politique relative aux cookies qui se trouve sur notre site web.



    4. Quelles sont les finalités du traitement de vos données à caractère personnel ?
    Nous traitons les données personnelles vous nous fournissez en passant une commande pour pouvoir vous l’envoyer : il va de soi que nous en avons besoin pour pouvoir envoyer correctement votre commande. Nous traitons ces données sur la base juridique de l’exécution d’un contrat (d’achat). Ensuite, nous pouvons réutiliser les données dans votre commande pour établir des groupes de destinataires de notre newsletter et pour mener des campagnes marketing, sur base d’un intérêt légitime à des fins commerciales. Vous pouvez facilement consulter et modifier vos données personnelles dans votre compte utilisateur.

    Après avoir passé une commande chez nous, vous recevrez de notre part non seulement quelques e-mails concernant le traitement de votre commande, mais également un e-mail dans lequel nous vous prions de donner un avis sur TopVintage, qui peut être rendu public. Il va de soi que vous recevrez cet e-mail qu’une fois par commande. Nous vous l’envoyons sur base d’un intérêt légitime à des fins commerciales. En effet, en passant une commande chez nous, une relation commerciale se met en place et nous souhaiterions savoir comment vous l’avez vécu.

    Le traitement des données personnelles que vous nous fournissez en vous abonnant à notre newsletter, en remplissant votre page personnelle (comme votre date de naissance) ou en donnant un avis est fondé sur votre consentement. Vous nous fournissez ces données de votre propre initiative et nous mettons à votre disposition notre politique de confidentialité. Vous pouvez tout simplement révoquer votre consentement en vous désabonnant à notre newsletter avec le lien en bas de chaque mail envoyé, en faisant anonymiser votre avis ou en effaçant les données additionnelles dans votre compte. Si vous créez un compte utilisateur sur notre site, nous pouvons également vous envoyer des emails, sur base d’un intérêt légitime à des fins commerciales, pour vous rappeler les articles que vous avez mis dans votre panier.

    Les données à caractère personnel collectionnées à l’aide de cookies à des fins commerciales sont traitées pour pouvoir pour pouvoir vous montrer des annonces aussi pertinentes que possible. Ces cookies publicitaires sont placés sur votre appareil sur base du consentement que vous nous donnez en visitant notre site web. Dans notre politique relative aux cookies, vous trouvez également la possibilité de révoquer consentement pour ne plus recevoir de cookies publicitaires (sauf si vous les acceptez de nouveau, bien sûr). Ceci entraîne également la suppression des cookies déjà placés par TopVintage (first party) lors d’une éventuelle visite précédente. Les cookies fonctionnels sont placés en raison d’un intérêt légitime, car sans cookies fonctionnels, notre site web ne marche pas et il ne sera pas possible de faire votre shopping chez TopVintage. Les cookies fonctionnels ne sont pas utilisés à des fins de profilage, ni à des fins analytiques ou commerciales.

    5. Vos droits en tant que personne concernée
    Le droit à l’information: Vous avez le droit de recevoir des informations complètes et exactes, que nous vous fournissons à l’aide de notre politique de confidentialité ainsi que de notre politique relative aux cookies. Il va de soi que vous pouvez également nous poser des questions en nous contactant par e-mail à info@topvintage.fr
    Le droit à l’accès: Vous avez le droit de consulter vos données personnelles. Le plupart de vos données sont accessibles sur votre page personnelle.
    Le droit à la rectification: Si vous constatez que vos données personnelles traitées par TopVintage sont incorrectes, vous pouvez tout simplement les modifier sur votre page personnelle ou nous envoyer une demande de modification.
    Le droit à l’effacement: Vous avez le droit de faire effacer vos données à caractère personnel. Parfois, nous avons besoin de garder certaines données pour des fins administratives ou pour veiller à ne plus vous contacter. À votre demande, nous informons également des tiers de votre demande d’effacement. Si vous vous désabonnez de notre newsletter à l'aide du lien qui se trouve en bas de chacun de nos e-mails, les données nécessaires pour vous la faire parvenir seront effacées. Vous pouvez également supprimer vos données personnelles à l’aide de l’option dédiée qui se trouve sur votre page personnelle sous « Modifier mes données ».
    Le droit à la limitation du traitement: Si vous estimez que nous traitons (certaines de) vos données à caractère personnel incorrectement ou illégalement, vous pouvez mettre fin à leur traitement.
    Le droit d’opposition: Vous pouvez mettre fin aux traitements de vos données à caractère personnel.
    Le droit à la portabilité: La nouvelle loi vous permet de récupérer les données que vous nous avez fournies sous une forme claire. À votre demande, nous pouvons également les transférer à un tiers.
    Le droit de ne pas être soumis au profilage: En fonction de votre historique de commandes, nous établissons des groupes pour pouvoir vous faire parvenir des newsletters et des annonces ciblées. Vous avez le droit de ne pas être ainsi classifié.

    Vous pouvez envoyer toute demande d’exercer un ou plusieurs des droits mentionnés ci-dessus par email à info@topvintage.fr. Vous recevrez de notre part un accusé de réception de votre demande. Il est possible que nous avons besoin de plus de données pour pouvoir traiter votre demande. De cette façon, nous pouvons protéger les données à caractère personnel de nos clients en veillant qu’elles ne sont divulguées qu’à la personne concernée. Vous pouvez également supprimer vos données personnelles à l’aide de l’option dédiée qui se trouve sur votre page personnelle sous « Modifier mes données ». Dans ce cas également, vous recevrez de notre part un accusé de réception de votre demande.

    Toute demande sera traité dans un délai d’un mois après leur validation. Un avis d’achèvement ne vous sera envoyé que sur demande explicite. Nous prenons toutes les demandes au sérieux et nous les traiterons au cas par cas avec le plus grand soin.

    À tout moment vous avez la faculté de saisir l’autorité de contrôle compétente, dans ce cas l'Autorité néerlandaise de protection des données (AP).



    6. Temps de conservation des données
    Les données à caractère personnel que vous nous avez fournies en créant un compte utilisateur, en donnant un avis ou en vous abonnant à notre newsletter seront conservées jusqu’à votre désabonnement de notre newsletter, l'anonymisation de votre avis ou la suppression de votre compte utilisateur. La durée pendant laquelle nous conservons tout autre donnée personnelle est régie par les lois et règlements en vigueur, comme par exemple les obligations de déclaration fiscale.



    7. Sous-traitants
    Nous faisons appel à de sous-traitants fiables, qui traitent vos données personnelles pour nous et en collaboration avec nous, comme par exemple un système d’administration interne, un serveur, un programme de messagerie ou une entreprise logistique pour pouvoir faire livrer votre colis. Avec nos sous-traitants, nous avons établi des arrangements appropriés concernant le traitement des données à caractère personnel en concluant des accords contractuels. Si vous communiquez par e-mail avec notre service clientèle, toutes ces informations seront enregistrées aux Etats-Unis conformément aux exigences légales du programme Privacy Shield. Toute autre donnée à caractère personnel est traitée dans la EEE.



    8. Sécurité
    Au sein de TopVintage, nous mettons en œuvre des mesures organisationnelles appropriées en ce qui concerne la protection de vos données à caractère personnel et menons une politique dynamique. En outre, les mesures de sécurité techniques mises en place sont régulièrement contrôlées et évaluées par des tiers. Les données qui sont transmises en association avec notre boutique en ligne sont cryptées et sécurisées à l'aide du protocole SSL/TLS. Enfin, les membres de notre personnel sont tenus au secret dès leur recrutement.



    9. Avez-vous des questions ?
    Si après avoir lu la présente politique de confidentialité, vous avez des questions à son sujet, n'hésitez pas à nous contacter par e-mail à info@topvintage.fr.

    Pour des informations actualisées concernant les cookies et leur désactivation, veuillez consulter notre politique relative aux cookies.
    Cette politique de confidentialité s'applique pleinement à tout visiteur de notre site web ainsi qu’aux clients de TopVintage.nl B.V., Wiebachstraat 9, 6466 NG Kerkrade.

    Modifiée en dernier lieu le 3 juin 2018

    Aucune partie de cette politique de confidentialité ne peut être copiée ou utilisée à d'autres fins sans autorisation expresse, écrite et préalable. ©2021.
</p>
